<p id="notice"><%= notice %></p>

<h1>Holiday Dates in <%= @calendar_dates.find(@holiday_dates.first.calendar_date_id).date.year %> for <%=@countries.find(@holiday_dates.first.country_id).name %></h1>

<%= form_tag holiday_dates_path, :method => :get, class: 'get_country'  do %>
  <%= select_tag "set_country", options_from_collection_for_select(@countries, 'id', 'name', selected: params[:set_country])%>
  <%= select_tag "set_year", options_for_select((@calendar_dates.first.date.year..(@calendar_dates.last.date.year)), selected: params[:set_year]) %>
  <%= submit_tag 'submit' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Holiday</th>
      <th>Calendar date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <div id="main-container" class="container">
    <div class="row">
      <% @holiday_dates.each do |holiday_date| %>

      <div class="col-xs-3">

      </div>

      <div class="col-xs-9">
        <td><%= holiday_date.holiday.name %></td>
        <td><%= holiday_date.calendar_date.date.to_s %></td>
        <td><%= link_to 'Show', holiday_date %></td>
        <td><%= link_to 'Edit', edit_holiday_date_path(holiday_date) %></td>
      </div>
    </div>
  </div>


    <% @holiday_dates.each do |holiday_date| %>
      <tr>
        <td><%= holiday_date.holiday.name %></td>
        <td><%= holiday_date.calendar_date.date.to_s %></td>
        <td><%= link_to 'Show', holiday_date %></td>
        <td><%= link_to 'Edit', edit_holiday_date_path(holiday_date) %></td>
        <!--<td><%= link_to 'Destroy', holiday_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Holiday date', new_holiday_date_path %>
<!--
    <% @holiday_dates.each do |holiday_date| %>
      <tr>
        <td><%= holiday_date.holiday.name %></td>
        <td><%= holiday_date.calendar_date.date.to_s %></td>
        <td><%= link_to 'Show', holiday_date %></td>
        <td><%= link_to 'Edit', edit_holiday_date_path(holiday_date) %></td>
        <!--<td><%= link_to 'Destroy', holiday_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
-->